.container{
  display: flex;
  width: 100%;
}

.search_bar {
  display: flex;
  flex-grow: 1;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 36px;
  padding: 10px;
  margin: 20px 0;
}

.search_input {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  background-color: transparent;
  font-size: 1.2rem;
}

.search_button {
  background-color: transparent;
  border: none;
  border-radius: 50px;
  padding: 8px 16px;
  cursor: pointer;
  margin-left: 8px;
  transition: all 0.3s ease 0s;
  margin: 1px 4px;
}

/* Hover effect for the button */
.search_button:hover {
  transform: scale(1.4);
}
.search_button:active {
  border: none;
}
