header{
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 20px 0;
}
nav{
  display: flex;
  
  width: 100%;
}
nav ul{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items:center;
  gap: 20px;
  padding-inline-start: 0;
}
nav ul> li{
  list-style: none;
  text-transform: uppercase;

}
