#main-section{
    width: 100%;
}

#pages{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 1rem ;
    margin-bottom: 2rem ;
    gap: 1rem
}
.page-link-active{
    color: #8288fc;
    transform: scale(1.1);
    font-weight: 700;
    transition: all 0.3s ease 0s;
}

.page-link {
    

}
.page-link::before{
    content: '[ ';
}
.page-link::after{
    content: ' ]';
}
.page-link-active::before{
    content: '[ ';
}
.page-link-active::after{
    content: ' ]';
}


#data-info{
    display: flex;
    width: 100%;
}
@media (prefers-color-scheme: light) {
    .page-link-active{
        color: #dd1efb;
        font-weight: 700;
    }
}