#root {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
  width: 100%;
}

.container{
display: flex;
flex-direction: column;

}

.noresult {
  width: 100%;
}

#top-section {
  display: flex;
  width: 100%;
  gap: 1rem;
  flex-direction: column;
}

#main-section{
  width: 100%;
}

#pages{
display: flex;
justify-content: start;
margin-top: 1rem ;
margin-bottom: 2rem ;
gap: 1rem
}

.page-link::before{
content: '[';
}
.page-link::after{
  content: ']';
  }

#data-info{
  display: flex;
  width: 100%;
}

#sidebar {
  width: 22rem;
  border-right: solid 1px  rgba(255, 255, 255, 0.87);
  display: flex;
  flex-direction: column;
}

#detail {
  flex: 1;
  padding: 2rem 4rem;
  width: 100%;
}

.search_container{
  display: flex;
  width: 100%;
  gap: 1rem;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 425px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
  #top-section{
    flex-direction: column;
    flex-flow: column-reverse;
  }
}
